.App {
  text-align: center;
  display: flex;
  position: relative;
}

.dBlock {
  display: block;
}

.inner {
  padding: 0rem 0.6rem; 
}

img {
  opacity: 0.5;
  width: 85.3rem !important;
  max-height: 41rem !important;
}

label {
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1.5rem !important;
  color: #050A30;
}

input[type='text'],
input[type='email'] {
  margin: 0.8rem;
  padding: 0.2rem;
  background-color: #D4F1F4;
  color: #050A30;
}

form{
  margin: 0rem auto;
  position: absolute;
  top: 19rem;
  left: 44rem;
  transform: translate(-50%, -50%);
}

button {
  margin: 2.2rem auto;
  background: #ADD8E6;
  color: #050A30;
  padding: 0.1rem 1.6rem;
  font-size: 1.3rem;
}

button:hover {
  background: #7EC8E3;
  cursor: pointer;
}