.App {
  text-align: center;
  display: flex;
}

label {
  display: block;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  margin: 2rem !important;
}

input[type='text'],
input[type='email'] {
  margin: 1rem;
  display: block;
  padding: 0.3rem;
}

form{
  margin: 5rem auto;
}